// My niri config :D

include "input.kdl"
include "monitors.kdl"
include "layout.kdl"
include "alt-tab.kdl"
include "spawn.kdl"
include "animations.kdl"
include "workspaces.kdl"
include "windowrules.kdl"
include "binds.kdl"
include "extra.kdl"
