layout {
    gaps 4
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
      width 2
      active-color "#f4b1eb"
      inactive-color "#3b3b3d"
      urgent-color "#f38ba8"
    }

    border {
      width 2
      active-color "#1e1e22"
      inactive-color "#2a2a2d"
      urgent-color "#b94b4b"
    }

    shadow {
      softness 24
      spread 4
      offset x=0 y=5
      color "#00000080"
    }

    struts {
    }
}
