workspace "browser" {
  open-on-output "DP-2"
}
workspace "games" {
  open-on-output "DP-2"
}
workspace "music" {
  open-on-output "DP-2"
}
workspace "zoom" {
  open-on-output "DP-2"
}
workspace "chatting" {
  open-on-output "DP-1"
}
workspace "recording" {
  open-on-output "DP-1"
}
workspace "notes" {
  open-on-output "DP-1"
}
workspace "anki" {
  open-on-output "DP-1"
}
